---
title: Welcome to Middleman
---

<div class="welcome">
  <p>
     <%= link_to "Bookmarklet", "javascript:(function()%7Bdocument.body.appendChild(document.createElement('script')).src='/javascripts/gridwax.js';%7D)();" %>
  </p><!-- .doc -->
</div><!-- .welcome -->